[submodule "sourcedata/mario3.fmriprep"]
	path = sourcedata/mario3.fmriprep
	url = https://github.com/courtois-neuromod/mario3.fmriprep
	datalad-url = https://github.com/courtois-neuromod/mario3.fmriprep
